on: ["push", "pull_request"]

name: Test Coveralls

jobs:
    build:
        name: Build
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Use Node.js 20.x
              uses: actions/setup-node@v4
              with:
                  node-version: 20.x

            - name: npm install, make test-coverage
              run: |
                  npm install
                  make test-coverage

            - name: Coveralls
              uses: coverallsapp/github-action@v2.3.0
